:root {
    --trashRed: #fb9a9a;
    --primaryGray: #cccccc;
    --primaryPurple: #646fd4;
}

body {
    background-color: var(--trashRed);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.mainContainer {
    background-color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainContainer ul {
    list-style-type: none;
    padding: 0;
}